<div class="list-generator">
  <form class="container text-center" [formGroup]="form">
    <div class="form-group">
      <input type="text" id="newList" class="form-control text-center resize-width" formControlName="newList"/>
    </div>
    <button [disabled]="form.invalid" (click)="createList(form.controls.newList.value)" type="submit" class="btn btn-primary">Create new list</button>
  </form>

  <div class="columns">
    <div *ngFor="let list of lists">
      <app-list class="list" [title]="list" (delList)="deleteList($event)">
      </app-list>
    </div>
  </div>
</div>
