<div class="list-head text-center">
  <h3>{{title}}</h3>
  <button type="button" class="close" aria-label="Close" (click)="onDeleteList()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" class="text-center">
  <div class="form-group">
    <input type="text" id="newItem" class="form-control" formControlName="newItem"/>
  </div>
  <button [disabled]="form.invalid" (click)="addItem(form.controls.newItem.value)" type="submit" class="btn btn-primary">Add Item</button>
</form>

<ul>
  <li *ngFor="let item of items; let i = index;">
    <app-list-item [name]="item" [id]="i" (delete)=deleteItem($event) (move)="moveItem($event)"></app-list-item>
  </li>
</ul>
