<div class="list-head">
  <h3>{{title}}</h3>
  <button type="button" class="close" aria-label="Close" (click)="onDeleteList()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="itemForm">
  <div class="form-group">
    <input type="text" id="newItem" class="form-control" formControlName="newItem"/>
  </div>
  <button [disabled]="itemForm.invalid" (click)="addItem(itemForm)" type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let item of items; let i = index;">
    <app-list-item [name]="item" [id]="i" (delete)=deleteItem($event)></app-list-item>
  </li>
</ul>
